<div class="row">
    <h1 class="title">Mon pipeline</h1>
    <p>Ceci est un POC (proof of concept) de pipeline CI/CD</p>
    <div class="card">
      <div class="card-header">
        Etapes du développement d’une chaine CI/CD
      </div>
      <div class="card-body">
        <p>
          <h2>Créer une application Angular</h2>
          <pre><code>ng new mon-pipeline</code></pre>
      
          <h2>Connecter à GitLab</h2>
          <ol>
              <li>Créer un nouveau repo sur GitLab.</li>
              <li>Importer l'application Angular : "Push an existing Git repository".</li>
              <li>Créer une branche DEVELOP.</li>
          </ol>
      
          <h2>Mettre en place des tests</h2>
          <ul>
              <li>Créer un test unitaire d'une fonction qui additionne deux nombres.</li>
              <li>Créer un test qui vérifie l'affichage du titre.</li>
          </ul>
      
          <h2>Mettre en place une pipeline dans GitLab</h2>
          <ol>
              <li>Décrire les étapes et les images Docker nécessaires dans le fichier <code>.gitlab-ci.yml</code>.</li>
              <li>Aller dans l'onglet Build / Pipeline pour suivre les étapes.</li>
          </ol>
      
          <h2>Créer une image Docker</h2>
          <ol>
              <li>Créer le fichier Dockerfile dans la racine de l'application Angular.</li>
              <li>Lancer l'application Docker.</li>
              <li>Se connecter à Docker Hub.</li>
              <li>Créer une image "mon-pipeline".</li>
              <pre><code>docker build -t mon-pipeline .</code></pre>
              <pre><code>docker run mon-pipeline</code></pre>
              <li>Tester l'image dans le conteneur.</li>
              <li>Envoyer l'image sur Docker Hub.</li>
              <pre><code>docker tag mon-pipeline fredkast/mon-pipeline</code></pre>
              <pre><code>docker push fredkast/mon-pipeline</code></pre>
          </ol>
      
          <h2>Ajouter les credentials de Docker Hub dans GitLab</h2>
          <ol>
              <li>Aller dans SETTINGS / CI/CD / VARIABLES / ADD.</li>
              <li>Utiliser le token Docker Hub plutôt que le mot de passe.</li>
              <li>Organiser les étapes du CI pour exécuter les tests avant.</li>
          </ol>
      
          <h2>Déployer sur AWS</h2>
      
          <h2>Sécuriser la pipeline en DevSecOPS</h2>
      
          <h2>Ressources</h2>
          <ul>
              <li><a href="https://angular.fr/unit-tests/">Angular Unit Tests</a></li>
              <li><a href="https://serengetitech.com/tech/how-to-dockerize-your-angular-14-application/">Dockerize Angular Application</a></li>
              <li><a href="https://nguenkam.com/blog/index.php/2021/03/24/pipeline-for-angular-ci-cd-with-gitlab-docker-and-ansible/">Angular CI/CD with GitLab, Docker, and Ansible</a></li>
          </ul>
      </div>
    </div>
  </div>

